/aclocal.m4
/autom4te.cache/
/configure
/config.log
/config.status
/compile
/missing
/install-sh
/depcomp
/ar-lib
/ltmain.sh
/libtool

/Makefile.in
/**/Makefile.in
/Makefile
/**/Makefile

*.o
*.lo
*.la
*.a
*.so
*.dylib
*.exe
/bin/
/src/42sh

.libs/
*.lai
