*.o
*.Po
src/minishell
/tmp/
*.o
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.log
config.status
configure
depcomp
install-sh
missing
src/Makefile
src/Makefile.in
src/.deps/
tests/Makefile
tests/Makefile.in
*.Po
.dirstamp
tests/$F
tests/err
tests/f
tests/f1
tests/f2
tests/file
tests/out
