/aclocal.m4
/autom4te.cache/
/configure
/config.log
/config.status
/compile
/missing
/install-sh
/depcomp
/ar-lib
/ltmain.sh
/libtool
/Makefile.in
/**/Makefile.in
/Makefile
/**/Makefile
*.txt
*.Po
*.o
*.lo
*.la
*.a
*.so
*.dylib
*.exe
/bin/
/src/42sh
/src/.deps/*
.libs/
*.lai
